.bg-mattBlackLight {
    background-color: #303337;
}

.text-mattBlackLight {
    color: #303337;
}

.bg-mattBlackDark,
body,
.nav-link.active {
    background-color: #ffffff;
}

.nav-link:hover {
    background-color: #222222;
}

.text-mattBlackDark {
    color: #212121;
}

.bg-mattGray {
    background-color: #878d8d;
}

.text-mattGray,
body,
.nav-link .icon,
.nav-link .text {
    color: #878d8d;
}

.bg-mattRed {
    background-color: #8262ec;
}

.text-mattRed,
.nav-link:hover .icon,
.nav-link:hover .text,
.nav-link.active .icon,
.nav-link.active .text {
    color: #8262ec;
}

.wrapper {
    margin-top: 2.5rem;
}

.wrapper .sideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 2.5rem auto auto;
    width: 12.5rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 2000;
}

.wrapper .content {
    width: 100%;
    margin-left: 0rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media (min-width: 992px) {
    .wrapper .sideMenu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .wrapper .content {
        margin-left: 12.5rem;
        margin-top: 20rem;
    }
    .wrapper.active .sideMenu {
        width: 3.125rem;
    }
    .wrapper.active .sideMenu .nav-link {
        text-align: center;
    }
    .wrapper.active .sideMenu .nav-link .icon {
        margin-right: 0;
    }
    .wrapper.active .sideMenu .nav-link .text {
        display: none;
    }
    .wrapper.active .content {
        margin-left: 3.125rem;
    }
}

.nav-link {
    display: block;
    white-space: nowrap;
}

.nav-link .icon {
    margin-right: 0.25rem;
    font-size: 1.875rem;
    vertical-align: middle;
    width: 2rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link .text {
    font-size: 0.875rem;
}

.page-footer {
    background: #cacaca;
    font-size: 0.75rem;
}

.page-footer a {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
}