<style>
    .card {
        width: 17rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        background-color: #303337
    }
</style>

<div class="container">
    <div class="row mx-auto">
        <div class="card">
            <div class=" card-body px-5 rounded ">
                <h5 class="card-title ">Klausuren:</h5>
                <%
    var klausurenGeschrieben = 0;
    
    exams.forEach(element => {
        klausurenGeschrieben += 1; 
    });

%>

                    <h1 class="card-text " style="font-size: 5rem ">
                        <%= klausurenGeschrieben %>
                    </h1>
            </div>
        </div>
        <div class="card ">
            <div class="card-body rounded px-5 ">
                <h5 class="card-title ">Schnitt: </h5>
                <%
    var noteIns = 0;
    var lpIns = 0;
    exams.forEach(element => {
        noteIns = noteIns + element.note * element.leistungspunkte;
        lpIns += element.leistungspunkte;
    });
    var schnitt = noteIns / lpIns;

%>

                    <h1 class="card-text " style="font-size: 5rem ">
                        <%= Math.round(schnitt * 100) / 100 %>
                    </h1>
            </div>
        </div>
        <div class="card">
            <div class="card-body rounded px-5 ">
                <h5 class="card-title ">Übungsblätter:</h5>

                <h1 class="card-text " style="font-size: 5rem ">
                    136
                </h1>
            </div>
        </div>
    </div>