<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">Overview</h1>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <% include ./partials/overviewDashboard %>

</div>
<hr/>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom">
    <h1 class="h3">Klausuren</h1>



</div>

<div class="container" style="height: 25em; overflow: auto;">


    <% include ./partials/tableDashboard %>

</div>
<hr/>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom">
    <h1 class="h3">Vorlesungen</h1>



</div>

<div class="container" style="height: 25em; overflow: auto;">


    <% include ./partials/tableVorlesungen %>

</div>
<br>
<br><br>


</div>