<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">Klausuren</h1>


    <button type="button" class="btn btn-secondary" onclick="location.href = '/exams/addExam'">Add Exam</button>
</div>

<div class="container" style="height: 30em; overflow: auto;">


    <% include ./partials/tableDashboard %>

</div>