<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">
        <%= name %>
    </h1>
</div>
<div>
    E-Mail:
    <%= email %>
</div>
<form class="ProfileForm" action="/profile" method="POST">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="semester">Semester:</label>
            <select id="semester" name="semester" class="form-control" required>
                <option selected disabled>Choose Semester</option>
                
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </select>
        </div>
</form>
</div>